{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
{#    <script type="text/javascript" src=></script>#}
    <script type="text/javascript" src="{% static 'ckeditor/ckeditor/ckeditor.js' %}"></script>
    <script type="text/javascript" src="{% static 'ckeditor/ckeditor-init.js' %}"></script>

    <script type="text/javascript" src="{% static 'js/jquery.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/nav.js' %}"></script>

</head>
<body>
<div class="nav" style="float: left">
	<ul>
		<li class="nav-item">
			<a href="#"><i class="my-icon nav-icon icon_1"></i><span>Python</span><i class="my-icon nav-more"></i></a>
			<ul>
				<li><a href="{% url 'showTechnicalArticle' tag_sulg='python' %}"><span>python</span></a></li>
				<li><a href="#"><span>django</span></a></li>
			</ul>
		</li>
		<li class="nav-item">
			<a href="#"><i class="my-icon nav-icon icon_2"></i><span>Java</span><i class="my-icon nav-more"></i></a>
			<ul>
			    <li><a href="#"><span>java</span></a></li>
				<li><a href="#"><span>spring</span></a></li>
				<li><a href="#"><span>mybatis</span></a></li>
			</ul>
		</li>
		<li class="nav-item">
			<a href="#"><i class="my-icon nav-icon icon_3"></i><span>Hadoop</span><i class="my-icon nav-more"></i></a>
			<ul>
			    <li><a href="#"><span>hadoop</span></a></li>
				<li><a href="#"><span>hbase</span></a></li>
				<li><a href="#"><span>hive</span></a></li>
				<li><a href="#"><span>kettle</span></a></li>
			</ul>
		</li>
	</ul>
</div>
<div style="overflow: hidden"></div>
<div style="margin-left: 50%">
    {% for technicalArticle in technicalArticles %}
    {{ technicalArticle.share }}<br/>
{% endfor %}
</div>

<hr/>
<div style="overflow: hidden"></div>
增加子节点：<br/>
增加父节点：


</body>
</html>

