{% extends 'web/index.html' %}
{% load staticfiles %}
{% block head_content %}
<head>
<meta charset="UTF-8">
<title>江南墨卷</title>
<meta name="keywords" content="个人博客模板古典系列之――江南墨卷" />
<meta name="description" content="个人博客模板古典系列之――江南墨卷" />
<link href="{% static 'css/base.css' %}" rel="stylesheet">
<link href="{% static 'css/main.css' %}" rel="stylesheet">
<!--[if lt IE 9]>
<script src="js/modernizr.js"></script>
<![endif]-->
<script type="text/javascript" src="{% static 'js/jquery.js' %}"></script>
</head>
{% endblock head_content %}
{% block container_content %}
<div class="container">
  <div class="con_content">
    <div class="about_box">
      <h2 class="nh1"><span>您现在的位置是：<a href="{% url 'index_studyNote' %}" target="_blank">网站首页</a>>><a href="#" target="_blank">个人相册</a></span><b>个人相册</b></h2>
      <div class="lispic">
        <ul>
            {% for post in posts %}
                <li><a href="/"><img src="{{ post.imge.url}}"><span>{{ post.name }}</span></a></li>
            {% endfor %}
        </ul>
      </div>

    </div>
  </div>
  <div class="blank"></div>
  <!-- container代码 结束 -->

    {% include 'web/paginator.html' with post=posts %}

{% endblock container_content %}