{% extends 'registration/base.html' %}
{% block content %}
{#    {% for page1 in post.paginator.page_range %}#}
{#        {% if page1 <= 2  %}#}
{#            <a href="?page={{ page1 }}">{{ page1 }}</a>#}
{#        {% endif %}#}
{#    {% endfor %}#}

    <div class="pagelist">
    {% if post %}
            页次：{{ post.number }}/{{ post.paginator.num_pages }}
            <a href="?page=1">首页</a>
           {% if post.has_previous %}
            <a href="?page={{ post.previous_page_number }}">上一页</a>
            {% endif %}
        {% if post.has_next %}
        <a href="?page={{ post.next_page_number }}">下一页</a>
        {% endif %}
        <a href="?page={{ post.paginator.num_pages }}">尾页</a>

        <form method="get" class="lispic_form">
            <input type="text" name='page' style="width:50px;">
            <input type="submit" value="查询">
        </form>
{% endif %}
    {% if post_article %}
        <div class="nextinfos">
        {% if post_article.has_previous %}
                 <p>上一篇：<a href="?page={{ post_article.previous_page_number }}">{% for beforePage in before_posts %}{{ beforePage.title }}{% endfor %}</a></p>
        {% endif %}
            {% if post_article.has_next %}
                <p>下一篇：<a href="?page={{ post_article.next_page_number }}">{% for afterPage in after_posts %}{{ afterPage.title }}{% endfor %}</a></p>
            {% endif %}
    </div>
    {% endif %}

    {% if search_post %}
            页次：{{ search_post.number }}/{{ search_post.paginator.num_pages }}
            <a href="?q={{ rs }}&amp;page=1">首页</a>
           {% if search_post.has_previous %}
            <a href="?q={{ rs }}&amp;page={{ search_post.previous_page_number }}">上一页</a>
            {% endif %}
        {% if search_post.has_next %}
        <a href="?q={{ rs }}&amp;page={{ search_post.next_page_number }}">下一页</a>
        {% endif %}
        <a href="?q={{ rs }}&amp;page={{ search_post.paginator.num_pages }}">尾页</a>

        <form method="get" class="lispic_form">
            <input type="hidden" name="q" value="{{ rs }}">
            <input type="text" name='page' style="width:50px;">
            <input type="submit" value="查询">
        </form>
    {% endif %}

    </div>


{% endblock content %}

{#<div class="pagelist">页次：1/1 每页25 总数10<a href="/">首页</a><a href="/">上一页</a><a href="/">下一页</a><a href="/">尾页</a></div>#}